<main>
  <div class="container mt-4">
    <div class="row">
      @for (user of usersList; track user._id) {
        <div class="col-12 col-sm-6 col-md-4 mb-4">
          <app-user-card [user]="user"></app-user-card>
        </div>
      }
    </div>
  </div>
</main>

<footer>

  <div class="container mt-4 mb-4 text-center text-muted">
    <div class="d-flex justify-content-center align-items-center mt-3">
      <button class="btn btn-outline-secondary me-2"
              (click)="previousPage()"><-</button>
      <span class="mx-2">Página {{ currentPage }}</span>
      <button class="btn btn-outline-primary ms-2"
              (click)="nextPage()">-></button>
    </div>
  </div>
  <div class="container mt-4 mb-4 text-center text-muted">
    <small>&copy; 2025 UsersApp. All rights reserved.</small>
  </div>
</footer>
